<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div style="display: flex;flex-flow: wrap column;height: 600px;width: 100%">
  <div style=" flex:200;height: 200px;width: 200px;background: red ;"></div>
  <div style="flex:95;height: 200px;width: 200px;background: yellow;"></div>
  <div style="flex:245;height: 200px;width: 200px;background: blue;"></div>
  <div style="flex:60;height: 200px;width: 200px;background: grey;"></div>
</div>
<div style="flex: 2;background: black"></div>

</body>
<style>


</style>
</html>
